.about-us {
  background-image: url("../img/backgrounds/bg-iphones-desktop@1x.png"), linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  background-repeat: no-repeat;
  background-size: 50%, cover;
  background-position: right 0 bottom 30px, top;
  color: $white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-iphones-desktop@2x.png"), linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  }
}

.about-us__wrapper {
  width: 508px;
}

.about-us__container {
  padding: 210px 10px 217px;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.about-us__title {
  margin: 0 0 21px;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 60px;
}

.about-us__list {
  @include reset-list;
  margin-bottom: 35px;
}

.about-us__item {
  padding-left: 35px;
  position: relative;
}

.about-us__item:not(:last-child) {
  margin-bottom: 9px;
}

.about-us__item::before,
.about-us__item::after {
  content: "";
  position: absolute;
}

.about-us__item::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $white;
  left: 0;
  top: 4px;
}

.about-us__item::after {
  width: 12px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-check-orange.svg");
  left: 2px;
  top: 6px;
  z-index: 6;
  background-size: 12px 9px;
}

.about-us__link {
  width: 195px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $white;
  line-height: 30px;
  font-weight: 500;
  color: $black;
  border-radius: 50px;
  padding: 7px;
}

.about-us__link:hover,
.about-us__link:focus {
  color: $white;
  background-color: $grey;
  box-shadow: none;
}

.about-us__link:active {
  opacity: 0.7;
}

.about-us__text {
  margin: 0 0 15px;
}

@media (max-width: $mobile-width) {
  .about-us__wrapper {
    width: 100%;
  }

  .about-us__container {
    padding: 150px 10px 310px;
  }

  .about-us__title {
    font-size: 44px;
    line-height: 44px;
  }


  .about-us {
    background-image: url("../img/backgrounds/bg-iphones-mobile@1x.png"), linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
    background-size: 407px 307px, cover;
    background-position: right 0 bottom 0, top;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-iphones-mobile@2x.png"), linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
    }
  }
}
