.advantages__list {
  @include reset-list;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 118px 10px 63px;
}

.advantages__item-title {
  margin: 0 0 18px;
  font-size: 24px;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 500;
  color: $black;
}

.advantages__item-text {
  margin: 0;
  font-weight: 300;
}

.advantages__icon-wrap {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: 1px solid $border-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  flex-shrink: 0;
  margin-right: 21px;
}

.advantages__description {
  order: 0;
}

.advantages__icon {
  color: $pink;
}

.advantages__item {
  display: flex;
  max-width: 360px;
  width: 32%;
  margin-bottom: 51px;
}

@media (max-width: $mobile-width) {
  .advantages__item {
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 201px;
    max-width: 250px;
  }

  .advantages__description {
    text-align: center;
  }

  .advantages__icon-wrap {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .advantages__list {
    justify-content: space-evenly;
    padding: 60px 10px 40px;
  }
}
