.download {
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
}

.download__title {
  color: $white;
  text-align: center;
  margin: 0 0 84px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 400;
}

.download__container {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
  padding: 116px 10px 109px;
}

.download__list {
  @include reset-list;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.download__link {
  display: flex;
  background-color: $white;
  border-radius: 5px;
}

.download__link:hover,
.download__link:focus {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6);
}

.download__icon-wrap {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pale-blue;
  border-radius: 5px;
  flex-shrink: 0;
}

.download__name {
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 600;
  margin: 0 0 10px;
  color: $black;
  font-size: 30px;
  line-height: 30px;
}

.download__text {
  font-weight: 300;
  color: $grey;
}

.download__text-wrap {
  padding: 25px 72px 27px 18px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.download__item {
  margin-bottom: 10px;
}

.download__icon {
  color: $grey;
}

@media (max-width: $mobile-width) {
  .download__list {
    flex-direction: column;
  }

  .download__text-wrap {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .download__link {
    align-items: center;
  }

  .download__name {
    margin-right: 10px;
  }

  .download__icon-wrap {
    flex-shrink: 0;
  }
}
