.page-footer {
  background-color: $black;
  padding: 58px 0 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__text-wrap {
  color: $white;
  font-weight: 300;
  display: flex;
}

.page-footer__copyright {
  margin-right: 19px;
  position: relative;
}

.page-footer__copyright::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 13px;
  background-color: $white;
  top: 5px;
  right: -11px;
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding: 40px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__text-wrap {
    flex-direction: column;
    align-items: flex-end;
  }

  .page-footer__copyright::after {
    display: none;
  }

  .page-footer__copyright {
    margin-right: 0;
  }

  .page-footer__partner {
    text-align: right;
  }
}
