.rates__title {
  font-size: 36px;
  line-height: 36px;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  color: $black;
  margin: 0 0 24px;
}

.rates {
  padding: 117px 0 89px;
}

.rates__text {
  font-weight: 300;
  max-width: 725px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.rates__list {
  @include reset-list;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 10px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.rates__item {
  max-width: 263px;
  width: 100%;
  background-color: $pale-blue;
  margin-bottom: 30px;
  text-align: center;
}

.rates__item:not(:last-child) {
  margin-right: 2.5px;
}

.rates__item:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.rates__item:hover .rates__speed {
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  color: $white;
  border: none;
}

.rates__item:hover .rates__button {
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  color: $white;
  border-width: 2px;
}

.rates__item:hover .rates__speed-wrap::before,
.rates__item:hover .rates__speed-wrap::after {
  color: $white;
}

.rates__button:focus {
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  color: $white;
  border-width: 2px;
}

.rates__button:active {
  opacity: 0.7;
}

.rates__properties-list {
  @include reset-list;
  width: 200px;
  margin: 29px auto 40px;
}

.rates__item-name {
  margin: 0;
  text-align: center;
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 20px;
  color: $black;
  padding: 14px;
  font-weight: 400;
}

.rates__property {
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.rates__property:not(:last-child) {
  margin-bottom: 3px;
  border-bottom: 1px dashed $border-grey;
}

.rates__slogan {
  font-weight: 300;
  color: $rates-slogan-grey;
  margin-bottom: 10px;
}

.rates__button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 140px;
  border-radius: 50px;
  background-color: $white;
  border: 2px solid $border-grey;
  color: $black;
  font-weight: 500;
  padding: 5px 0 11px;
  margin-bottom: 40px;
  outline: none;
}

.rates__speed {
  color: $black;
  font-size: 48px;
  line-height: 48px;
  padding: 24px 0 48px;
  background-color: $white;
  border-left: 1px solid $pale-blue;
  border-right: 1px solid $pale-blue;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 500;
  position: relative;
}

.rates__speed::before,
.rates__speed::after {
  content: "";
  position: absolute;
  bottom: 0;
}

.rates__speed::before {
  border: 31px solid transparent;
  border-bottom: 10px solid $pale-blue;
  border-left: 100px solid $pale-blue;
  left: 0;
}

.rates__speed::after {
  right: 0;
  border: 31px solid transparent;
  border-right: 100px solid $pale-blue;
  border-bottom: 10px solid $pale-blue;
}

.rates__speed-wrap {
  position: relative;
  display: inline-block;
}

.rates__speed-wrap::before,
.rates__speed-wrap::after {
  position: absolute;
  color: $black;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.rates__speed-wrap::before {
  content: "$";
  left: -8px;
  top: 4px;
}

.rates__speed-wrap::after {
  position: absolute;
  content: "/m";
  right: -21px;
  bottom: 6px;
}
