.reviews__name {
  color: $black;
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 18px;
}

.reviews__company {
  font-weight: 300;
}

.reviews__item {
  background-color: $pale-blue;
  width: 1.44%;
  max-width: 360px;
  padding: 33px 50px 40px 39px;
  display: flex;
  flex-direction: column-reverse;
  margin: 25px 15px 40px;
}

.reviews__review-text {
  font-weight: 300;
}

.reviews__photo {
  display: block;
  width: 80px;
  margin-right: 23px;
}

.reviews__author {
  display: flex;
  align-items: center;
}

.reviews__author-details {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-family: "Dosis", "Arial", sans-serif;
  margin: 0 0 22px;
  color: $black;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.reviews__text {
  font-weight: 300;
  max-width: 677px;
  text-align: center;
  width: 100%;
  margin: 0 auto 52px;
}

.reviews__container {
  width: 100%;
  max-width: 1345px;
  margin: 0 auto;
  padding: 0 10px;

  position: relative;
}

.reviews__container .slick-arrow {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $border-grey;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.reviews__container .slick-arrow:hover,
.reviews__container .slick-arrow:focus {
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  background-repeat: no-repeat;
}

.reviews__container .slick-arrow:hover::before,
.reviews__container .slick-arrow:focus::before  {
  background-color: $white;
}

.reviews__container .slick-prev:hover::after,
.reviews__container .slick-prev:focus::after  {
  border-right-color: $white;
}

.reviews__container .slick-next:hover::after,
.reviews__container .slick-next:focus::after  {
  border-left-color: $white;
}

.reviews__container .slick-arrow:active {
  opacity: 0.7;
}

.reviews__container .slick-arrow::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: $grey;
  top: 50%;
  transform: translateY(-50%);
}

.reviews__container .slick-arrow::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.reviews__container .slick-prev::after {
  border: 3px solid transparent;
  border-right: 3px solid $grey;
  left: 9px;
}

.reviews__container .slick-next::after {
  right: 9px;
  border: 3px solid transparent;
  border-left: 3px solid $grey;
}

.reviews__container .slick-prev {
  left: 10px;
}

.reviews__container .slick-prev::before {
  left: 15px;
}

.reviews__container .slick-next {
  right: 10px;
}

.reviews__container .slick-next::before {
  right: 15px;
}

.reviews {
  padding: 116px 0 80px;
}

.reviews__slider {
  max-width: 1170px;
  width: 88%;
  margin: 0 auto;
}

.reviews__slider .slick-track {
  display: flex;
}

.reviews__slider .slick-list {
  overflow: hidden;
}

.reviews__slider .slick-center {
  background-color: $white;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.reviews__review-text {
  margin: 0 0 23px;
}

@media (max-width: $mobile-width) {
  .reviews__container .slick-arrow {
    transform: none;
    top: 110%;
  }

  .reviews__slider {
    width: 100%;
  }

  .reviews__item {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
  }

  .reviews__author {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 15px 0 0;
  }

  .reviews__container {
    max-width: none;
  }

  .reviews__text {
    max-width: none;
    padding: 0 10px;
  }

  .reviews__container .slick-prev {
    left: 25%;
  }

  .reviews__container .slick-next {
    right: 25%;
  }

  .reviews__title {
    padding: 0 10px;
  }
}
