.screenshots {
  background-color: $pale-blue;
  padding: 115px 0 57px;
}

.screenshots__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 24px;
  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  color: $black;
}

.screenshots__text {
  font-weight: 300;
  max-width: 725px;
  text-align: center;
  width: 100%;
  margin: 0 auto 77px;
  padding: 0 25px;
}

.screenshots__image {
  display: block;
}

.screenshots__container {
  max-width: 1345px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 90;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screenshots__item {
  max-width: 360px;
  width: auto;
  box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 60px;
}

.screenshots__slider {
  max-width: 1170px;
  width: 88%;
  margin: 0 auto;
  z-index: 200;
}

.screenshots__slider .slick-track {
  display: flex;
}

.screenshots__slider .slick-list {
  overflow: hidden;
}

.screenshots__image {
  width: 100%;
  height: 100%;
}

.screenshots__item.slick-slide {
  width: 360px;
  height: 500px;
  transition: transform .4s;
  transform: scale(.715) translate(486px);
}

.screenshots__slider .slick-center + .slick-slide {
  transform: scale(0.88) translate(-163px);
  z-index: 10;
}

.screenshots__slider .slick-center + .slick-slide + .slick-slide {
  transform: scale(0.73)  translate(-480px);
  z-index: 5;
}

.screenshots__slider .slick-center + .slick-slide + .slick-slide  + .slick-slide {
  transform: scale(0.575)  translate(-1070px);
  z-index: 4;
}

.screenshots__slider .slick-active {
  transform:scale(.88) translate(164px);
}

.screenshots__slider .slick-center {
  transform: scale(1);
  z-index: 30;
}

.screenshots__slider .slick-center + .slick-slide + .slick-slide  + .slick-slide + .slick-slide  {
  transform: scale(.6) translate(-3167px);
  z-index: -1;
}

.screenshots__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.screenshots__slider .slick-prev {
  left: 0;
}

.screenshots__slider .slick-next {
  right: 0;
}

.screenshots__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $border-grey;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.screenshots__slider .slick-arrow:hover,
.screenshots__slider .slick-arrow:focus {
  background-image: linear-gradient(90deg, rgb(253, 113, 44) 0%, rgb(242, 23, 128) 100%);
  background-repeat: no-repeat;
}

.screenshots__slider .slick-arrow:hover::before,
.screenshots__slider .slick-arrow:focus::before  {
  background-color: $white;
}

.screenshots__slider .slick-prev:hover::after,
.screenshots__slider .slick-prev:focus::after  {
  border-right-color: $white;
}

.screenshots__slider .slick-next:hover::after,
.screenshots__slider .slick-next:focus::after  {
  border-left-color: $white;
}

.screenshots__slider .slick-arrow:active {
  opacity: 0.7;
}

.screenshots__slider .slick-arrow::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: $grey;
  top: 50%;
  transform: translateY(-50%);
}

.screenshots__slider .slick-arrow::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.screenshots__slider .slick-prev::after {
  border: 3px solid transparent;
  border-right: 3px solid $grey;
  left: 9px;
}

.screenshots__slider .slick-next::after {
  right: 9px;
  border: 3px solid transparent;
  border-left: 3px solid $grey;
}

.screenshots__slider .slick-prev {
  left: 10px;
}

.screenshots__slider .slick-prev::before {
  left: 15px;
}

.screenshots__slider .slick-next {
  right: 10px;
}

.screenshots__slider .slick-next::before {
  right: 15px;
}


@media (max-width: $mobile-width) {
  .screenshots__item {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    margin: 0;
  }

  .screenshots__item.slick-slide {
    width: 100%;
    height: 500px;
    transition: none;
    transform: none;
  }

  .screenshots__slider .slick-center + .slick-slide {
    transform: none;
    z-index: 1;
  }

  .screenshots__slider .slick-center + .slick-slide + .slick-slide {
    transform: none;
    z-index: 1;
  }

  .screenshots__slider .slick-center + .slick-slide + .slick-slide  + .slick-slide {
    transform: none;
    z-index: 1;
  }

  .screenshots__slider .slick-active {
    transform: none;
  }

  .screenshots__slider .slick-center {
    transform: none;
    z-index: 1;

  }

  .screenshots__slider .slick-center + .slick-slide + .slick-slide  + .slick-slide + .slick-slide  {
    transform: none;
    z-index: 1;
  }

  .screenshots__slider {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
  }

  .screenshots__image {
    width: 100%;
  }


  .screenshots__slider .slick-arrow {
    top: 105%;
    bottom: 120px;
    transform: none;
    z-index: 10;
  }

  .screenshots__container {
    overflow: visible;
  }

  .screenshots {
    padding-bottom: 90px;
  }

  .screenshots__slider .slick-prev {
    left: 25%;
  }

  .screenshots__slider .slick-next {
    right: 25%;
  }
}
